<!doctype html>
<title>{% block title %}{% endblock %} Meetup</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Meetup</h1>
    <ul>
        {% if session != {} %}
            <li><span>{{ session['user_name'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            <li><a href="{{ url_for('event.index') }}">Main Page</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}

    </ul>
</nav>
<section class = 'content'>
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>