{% extends 'base.html' %}
{% block header %}
Create New Event
{% endblock %}
{% block content %}
    <form method="post">
<!--        <label for="time">Time:</label>-->
<!--        <input type="time" name = 'time' id = 'time' required>-->
        <label for="title">Title:</label>
        <input name = 'title' id = 'title' required>
        <label for="sport">Sport</label>
        <input name = 'sport' id = 'sport'>
        <input type="submit" value="Create New Event">
    </form>
{% endblock %}