{% extends 'base.html' %}
{% block header %}
Create New Event
{% endblock %}
{% block content %}
    <form method="post">
        <label for="title">Title:</label>
        <input name = 'title' id = 'title' required>

        <label>Type:</label>
        <select name="sport" id="sports">
          <option value="Basketball">Basketball</option>
          <option value="Volleyball">Volleyball</option>
          <option value="Tennis">Tennis</option>
        </select>

        <label>Time:</label>
        <input type="datetime-local" id="meeting-time"
       name="time" value = '2022-01-01T00:00'
       min="2020-01-01T00:00" max="2030-06-14T00:00">

        <label>Recur:</label>
        <select name="recur_sign" id="recur_sign">
          <option value="False">False</option>
            <option value="True">True</option>
        </select>

        <label>Court name:</label>
        <input name ='court_name' list="court_names">
        <datalist id="court_names">
            {% for item in history %}
                <option value= "{{item[0]}}" >
            {% endfor %}
        </datalist>

        <label>Court Location:</label>
        <input name = 'court_loc' id = 'court_loc' required>
        <input type="submit" value="Create New Event">
    </form>
{% endblock %}