{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}
    <h3>{{event[1]}}</h3>
    <p>owner: {{user_name}}</p>
    <div>time: {{event_time}}</div>
    <div>type: {{event[2]}}</div>
    <div>court: {{court[1]}}</div>
    <div>location: {{court[0]}}</div>
    <div>comment: </div>
    {% for comment in comments %}
        Comment by:{{comment[0]}} <br>
        content:{{comment[2]}}<br>
    {% endfor %}
{% if session['owner_id'] == event[0] %}
    <a href="{{url_for('event.invite') }}">invite</a><br>
{% endif %}

<a href="{{url_for('event.comment')}}">comment</a><br>
{% endblock %}
